[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
django-jalali = "*"
drf-nested-routers = "*"
drf-writable-nested = "*"

[dev-packages]

[requires]
python_version = "3.10"
